.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.justify-end{
    justify-content: end;
}

.space-between{
    justify-content: space-between;
}

.mt-1{
    margin-top: 1rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.h-300{
    max-height: 300px;
}

.ellipsis{
    text-overflow: ellipsis;
}

.w-10{
    width: 10px;
}

.h-10{
    height: 10px;
}

.h-full{
    height: 100% !important;
}

.w-full{
    width: 100% !important;
}

.relative{
    position: relative;
}

